/************** COLORS ***************/
$color-primary: #05c46b;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light:#4b7bec;
$color-secondary-dark: #30336b;

$color-tertiary-light:#e056fd;
$color-tertiary-dark: #B33771;

$color-danger: #c0392b; //quaternary

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(220, 220, 220);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


/************** Font ***************/
$default-font-size: 1.6rem; 
$secondary-font-size: 1.5rem;
$tertiary-font-size: 1.4rem;
$feature-icon-font-size: 6rem; 
$navigation-irem-font-size: 3rem;

/************** GRID SYSTEM ***************/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
